# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
*.db
*.sqlite3
transly.db

# Virtual Environments
venv/
env/
.env

# Large AI Models / Caching
vosk_model/
.cache/
huggingface/
.pytest_cache/
